
    
   {{>header}}
<p>This site is created by Bruce Robot.It uses data from mapbox.com and weatherstack.com!</p>
    <img class="portrait" src="/img/robot.png" alt="">
     </div>
    {{>footer}}
    </html>
